@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
<div class="bg-danger mb-1 p-2 text-white"><h4>Access Denied</h4></div>
<a asp-action="Index" asp-controller="Home" asp-area="admin" class="btn btn-primary">OK</a>