@model BookStore.Data.Models.ApplicationUser
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
<div class="alert alert-info align-center">
    Chỉnh sửa tài khoản
</div>
<div class="clearfix">
    <div asp-validation-summary="All" class="text-danger"></div>
    <form asp-action="Edit" method="post">
        <div class="form-group">
            <label asp-for="Id"></label>
            <input asp-for="Id" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Lưu lại</button>
        <a asp-action="Index" class="btn btn-secondary">Hủy</a>
    </form>
</div>
