<div class="row">
    <div class="col-lg-5 col-md-6 col-sm-6">
        <div class="single-footer-widget">
            <h4>Thể loại</h4>
            <p>
                @await Component.InvokeAsync("BookTypes")
            </p>
        </div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-6">
        <div class="single-footer-widget">
            <h4>Nhận thông báo</h4>
            <p>Nhận thông báo khi có ebook mới</p>
            <div class="">
                <form action="/emailregister/register" method="post">
                    <div class="input-group">
                        <input id="emailRegister" class="form-control" name="email" placeholder="Địa chỉ email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Địa chỉ email '" required="" type="email">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="lnr lnr-arrow-right"></span>
                            </button>
                        </div>
                        <div class="info"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
        <div class="single-footer-widget">
            <h4>Theo dõi</h4>
            <p>Tương tác với Bkebook.vn</p>
            <div class="footer-social d-flex align-items-center">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 mt-4">
        <p class="footer-text">
            Bản quyền &copy;
            2018 All rights reserved
        </p>
    </div>
</div>