@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container main-menu">
    <div class="row align-items-center justify-content-between d-flex">
        <div id="logo">
            <a href="/"><img src="~/images/logo.png" alt="" title="" /></a>
        </div>

        <div class="search-form">
            <div class="form-group has-feedback">
                <label for="search" class="sr-only">Search</label>
                <input type="text" class="form-control" name="search" placeholder="search" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search'" id="txtSearch">
                <span class="fa fa-search form-control-feedback btn-search"></span>
            </div>
        </div>
        <nav id="nav-menu-container">

            <ul class="nav-menu">
                <li><a href="/">Trang chủ</a></li>
                <li class="menu-has-children">
                    <a href="">Danh mục</a>

                    <ul class="menu-dropdown mega-menu row">

                        @await Component.InvokeAsync("CategoryMenu")
                    </ul><div class="clearfix"></div>
                </li>

                <li><a href="/khoa-hoc">Khóa học miễn phí</a></li>

                <li><a href="/p/thong-tin.html">Giới thiệu</a></li>

                @if (User.Identity.IsAuthenticated)
                {
                    var userName = User.Identity.Name;
                    var userId = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
                    <li class="profile">
                        <a href="/tai-khoan/@userId" class="btn-link">
                            <img class="rounded-circle" width="30" height="30" src="" username="@userName" alt="@userName" title="@userName" />
                        </a>
                    </li>
                    <li>
                        <a href="/logout/@userId " class="btn btn-link">Đăng xuất</a>
                    </li>
                }
                else
                {
                    <li><a href="#" class="btn-link" data-toggle="modal" data-target="#login-modal">Đăng nhập</a></li>

                }
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</div>