<div class="col-lg-3 col-sm-6 col-md-4 ">
    <div class="card">
        <a href="{{url}}" title="{{name}}">
            <img src="{{thumbnailUrl}}" alt="{{name}}" style="width:100%">
        </a>
        <div class="book-detail">
            <h4 title="{{name}}"><b><a href="{{url}}">{{name}}</a></b></h4>
            <div class="pull-left ">
                <span class="fa fa-arrow-circle-o-down  " style="color: #118211;
    font-size: 1.125em;"></span><i class="item-des"> {{downloads}}</i>
                <i class="fa fa-globe" style="color:#323265" aria-hidden="true"></i><i class="item-des"> {{dateRelease}}</i>
                <i class="fa fa-language" style="color: rgba(12, 0, 171, 0.5803921568627451);" aria-hidden="true"></i><i class="item-des"> {{Language}}</i>
            </div>
        </div>
    </div>
</div>