<li>
    <div class="row">
        <div class="col-sm-2">
            <div class="thumbnail">
                <img class="img-circle user-photo"  src="{{urlAvatar}}"/>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>{{userName}}</strong> <span class="text-muted">
                        {{TimeCreate}}
                    </span>
                </div>
                <div class="panel-body">
                    {{Message}}
                </div><!-- /panel-body -->
                <p class="comment-rely-button clearfix" >
                    <a class="float-right btn btn-outline-primary ml-2">  <i class="fa fa-reply"></i> Reply</a>
                    <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>
                </p>
            </div><!-- /panel panel-default -->
        </div>
    </div>
    <div class="clearfix"></div>
</li>