@model BookStore.Data.Models.Book
@{ 
    var url = "/v/" + Model.MetaName+"/"+Model.Id;
}

<li class="shop-item col-md-3">
    <div class="card">
        <a href="@url">
            <img style="width:100%" src="@Model.ThumbnailUrl">
        </a>
        <div class="book-detail">
            <h4 class="text-bold">
                <b>
                    <a href="@url">@Model.Name</a>
                </b>
            </h4>  
           
        </div>
    </div>
</li>